%p
	2020シーズンは「グラコロ」に加えて「コク旨ビーフシチューグラコロ」が新登場。かなり「肉々しい」ビーフシチューソースが人気を博しました(が、同盟員へのアンケートではノーマルの方が人気が高かったみたい)。全部で1,103個は昨年の1,128個よりやや少ないものの、コロナ禍という状況でありながら4桁を達成！ 今年も朝マックでも販売されたのは嬉しかったですね。参加同盟員は181人とやや増加、@naritamasahiroさんがふたたび3桁、昨年を超える120個で揺るぎないディフェンディング・チャンピオン。2位と3位はそれぞれ昨年から順位をあげた@DALUMAさん(74個)と@pocketpさん(59個)という結果でした。
%p
	ではまた来年!
