%p
	2015年シーズンは暖冬の影響か、一部店舗での先行発売をへて一般販売され始めたのが12月も中旬になってから。年をまたいだのは久しぶりですね。年明け早々にデミコロが品切れになる店舗が続出し、すぐにでも終了するのではと思われましたが、けっきょく一ヶ月以上の長期にわたって提供され続けられました。なんでもマクドナルドの売上げもだいぶ上昇したとか。
%p
	今シーズンの参加同盟員は昨シーズンとほぼ同じ126名、みんなで平らげたグラコロの数は昨年を大きく上回る943個でした。トップはもはやこの人を抜くことはできないのか@naritamasahiroさん、ひさびさの大台達成101個。2位、3位は昨年とは入れ替わって@manaty_3mさん(68個)、@nathyxyb52さん(53個)となりました。おめでとうございます、ごちそうさま!
