%p
	2022シーズンはここ最近では最速の11月30日開始で、終了予定だった翌1月3日にはすでに在庫がなく、ほぼ2022年内の開催となりました。「グラコロ」に新登場「ふわとろたまご濃厚デミグラコロ」を加えてのラインナップでした。あいかわらず名前が長いですが、「デミコロ」と呼ばれていたようです。2019年の「ビーフデミチーズグラコロ」と区別がついてないですが(笑)。全部で1,214個と、昨シーズンにはわずかに及びませんでしたが、参加同盟員は188人とやや増加しました。今シーズンは100個超えも2名！ おなじみチャンピオンの@naritamasahiroさんがまたもや昨年を超える124個で首位キープする一方、こちらも昨年に続いて2位の@DALUMAさんが113個とついに大台へ。3位も昨年と同じく@nathyxyb52さんが61個と、不動のトップ3となりました。
%p
	次シーズンはグラコロ同盟20周年！ ではまた!
