%p
	マクドナルド公式によるバックアップのあった昨年と違って、完全独自開催に戻った2012年シーズンは、
	昨シーズンよりはやや減ったものの活発な同盟活動が行われました。合計132名の方に参加いただき、
	全部で892個ものグラコロが我々同盟員の胃袋に収まりました。
%p
	トップはディフェンディングチャンピオン@naritamasahiroさん、3回続いて防衛となる
	114個! ついに大台に乗せてきました。2位には@kurenai_agehaさんがルーキーながら61個を平らげる
	というすばらしい成績をおさめています。その他、TOP5まではみなさん40個以上でした。すごい!
