%p
	2021シーズンは「グラコロ」に加えて「コク旨アンガスビーフボロネーゼグラコロ」が新登場。昨シーズンの「ビーフシチュー」も長かったが、今シーズンのも長い！(名前が) けっこうガツンとインパクトのある味でしたね。全部で1,256個と、昨シーズンの1,103個を大きく上回り、コロナなんてなんのその、という結果になりました。みんなよく食べた！ 参加同盟員は181人、なんと昨シーズンとまったく同じでした。もはや向かうところ敵なしの@naritamasahiroさんがまたもや昨年を超える122個で首位キープ。2位の@DALUMAさんも昨年から大きく個数を伸ばして94個、3位には@nathyxyb52さんが67個で食い込みました。
%p
	ではまた次の冬にお会いしましょう!
