%p
	グラコロが「超グラコロ」にリニューアルした記念すべき2016年シーズンは、昨シーズン同様に12月の中旬から年をまたいでの開催となりました。マクドナルドがグラコロ同盟を正式に招待しての先行試食会や、プレス発表会での同盟への感謝状贈呈など、話題の多いシーズンでした。「超」の影響か売れ行きは良好で、専用の包装紙が品切れになる店舗が早くから登場したものの、販売期間そのものはほぼ1月いっぱいまで継続され、販売中の店舗をさがして同盟員は右往左往することになりました。
%p
	今シーズンの参加同盟員は昨シーズンから大きく増えて167名、みんなで平らげたグラコロの数もついに4桁に突入して1202個にもなりました。トップは他をよせつけないディフェンディングチャンピオン@naritamasahiroさんの121個、2位は昨シーズンから大躍進して3桁を超えてきました@ppoiさんジャスト100個、以下、@manaty_3mさん(66個)、@nathyxyb52さん(62個)となりました。おめでとうございます、ごちそうさま!
