%p
	「熟グラコロ ビーフシチュー」に代わって「濃グラコロ チーズフォンデュ」が追加になった2018年シーズンは、昨年よりも1週間早い開始で、いちおう年を超えたもののほぼ三ヶ日のうちに終了するというやや変則的なスケジュールでの開催となりました。今年も短期ですね。昨年に引き続き朝マックの時間帯でもグラコロが販売され、同盟員の中には朝昼晩にグラコロを食すツワモノも。
%p
	新作「濃グラコロ」は濃いめの味付けのためか
	%a{href: 'https://twitter.com/gracoro_union/status/1075239144048123904', target: '_blank'}<好き嫌いが別れ
	同盟で食べられたグラコロは942個とやや低迷。参加同盟員は148人と平年並みながら例年3桁食べていた@naritamasahiroさんも80個どまりでした。2番手以降は顔ぶれにも変化があり、@manaty_3mさんが55個、@DALUMAさん53個という結果でした。
%p
	ではまた来年!
