%p
	「超グラコロ」に加えて「熟グラコロ ビーフシチュー」が追加になった2017年シーズンは、12月の中旬から年をまたいでの開催となりましたが、1月末まで継続していた昨シーズンと違い、次のキャンペーンがすぐに始まったことからかなり短期間の開催となりました。今期特筆すべきは朝マックの時間帯でもグラコロが販売されたこと。朝からアツアツのグラコロを食べられて、身も心も暖まった同盟員も多かったようです。シーズン前にはグラコロ同盟員の一部がマクドナルドから招待され、
	%a{href: 'https://sho.tdiary.net/20171128.html#p01'}<熟グラコロの試食会&amp;座談会
	が催されたりもしました。
%p
	開催期間は短かかったものの、朝マック時間帯での販売も功を奏し、昨シーズンを超える1208個。参加同盟員も184人と昨シーズンから大幅に増えました。ディフェンディングチャンピオン@naritamasahiroさんはあいかわらずの3桁で104個。昨シーズンに引き続き2番手につく@ppoiさんも77個、同じく3番手の@manaty_3mさんが僅差の72個、@nathyxyb52さん57個で順位変わらずでした。
%p
	ごちそうさま!
