%p
	2014年シーズンはなかなか販売が開始されないなど冷や冷やさせられましたが、蓋をあけてみれば日本マクドナルド公式Twitterの応援もあって130名を超えるおおぜいの同盟員の参加があり、昨年を超える合計814個を平らげることができました。みなさんお疲れさまでした！
%p
	トップはまたもや防衛に成功した@naritamasahiroさん、98個。昨シーズンに続いておしくも大台には乗りませんでしたが、すばらしい食欲っぷり。2位の@foobar_gracoroさんは、昨シーズン2位の@ppoiさん(今季43個)をかわして堂々の2位、50個でした。
%p
	なお、マクドナルドではグラコロの直後に「かにコロッケバーガー」という新製品を投入してきましたが、同盟的にはコロッケのベースがホワイトソースではないという点においてこれはグラコロの仲間ではないと結論づけました。
