%p
	2年のインターバルをあけて開催された2011年シーズンは、活動の舞台をはてなスターから
	Twitterへ移行、結果として従来をはるかに超える合計266名の方に参加いただき、
	全部でなんと944個ものグラコロが我々同盟員の胃袋に収まりました。
%p
	トップは@naritamasahiroさんが、前回(2009年)に続いて防衛、
	なんと84個ものグラコロを平らげました。次に続く@ppoiさんの77個と合わせて、
	この2人はちょっとおかしいです(笑)。良い子は真似しちゃダメだお。
