%p
	濃厚さがアップした「グラコロ」と「ビーフデミチーズグラコロ」のラインナップとなった2019年シーズンは、なぜか例年以上に盛り上がり、昨シーズンより大幅に増えて1,128個となりました。昨年に引き続き朝マックの時間帯でもグラコロが販売されたのも嬉しかったですね。参加同盟員は166人とやや増加、@naritamasahiroさんが3桁に返り咲いて105個でトップをキープ。2番手に@ppoiさん68個、@DALUMAさん61個という結果でした。
%p
	ではまた来年!
