#fb-root
:javascript
	(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) {return;}
		js = d.createElement(s); js.id = id;
		js.src = '//connect.facebook.net/ja_JP/all.js#xfbml=1&appId=135896593126567';
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
#footer
	.footer-item
		%h2 メニュー
		%ul
			%li
				%a{href: '/'} サイトトップ
			%li
				%a{href: '/rule'} ルールとFAQ
	.footer-item
		%h2 過去の活動実績(1)
		%ul
			%li
				%a{href: 'https://sho.tdiary.net/20031119.html#p03'} 2003年
			%li
				%a{href: 'https://sho.tdiary.net/20041206.html#p01'} 2004年
			%li
				%a{href: 'https://sho.tdiary.net/20051125.html#p01'} 2005年
			%li
				%a{href: 'https://sho.tdiary.net/20061121.html#p01'} 2006年
			%li
				%a{href: 'https://sho.tdiary.net/20071122.html#p01'} 2007年
			%li
				%a{href: 'https://sho.tdiary.net/20081031.html#p01'} 2008年
			%li
				%a{href: 'https://sho.tdiary.net/20091011.html#p01'} 2009年
	.footer-item
		%h2 過去の活動実績(2)
		%ul
			%li
				%a{href: '2011'} 2011年
			%li
				%a{href: '2012'} 2012年
			%li
				%a{href: '2013'} 2013年
			%li
				%a{href: '2014'} 2014年
			%li
				%a{href: '2015'} 2015年
			%li
				%a{href: '2016'} 2016年
			%li
				%a{href: '2017'} 2017年
			%li
				%a{href: '2018'} 2018年
			%li
				%a{href: '2019'} 2019年
			%li
				%a{href: '2020'} 2020年
	.footer-item
		%h2 問合せ先
		%ul
			%li.banner
				%a.twitter-follow-button{href: 'https://twitter.com/gracoro_union', 'data-show-count'=>'false'} Follow @gracoro_union
				%script{src: '//platform.twitter.com/widgets.js'}
			%li.banner
				.fb-like-box{'data-href'=>'https://www.facebook.com/gracoro.union', 'data-width'=>'292', 'data-colorscheme'=>'dark', 'data-show-faces'=>'false', 'data-stream'=>'false','data-header'=>'false'}
			%li.banner
				%a{href: 'https://github.com/tdtds/gracoro-union'}
					%img{src: '/img/github.png', alt: 'GitHub'}

:javascript
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-53836-10']);
	_gaq.push(['_trackPageview']);

	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
