!!!
%html
	%head
		%title グラコロ同盟
		%meta{name: "viewport", content: "width=device-width,initial-scale=1"}
		%meta{property: 'og:image', content: 'http://gracoro.tdtds.jp/img/og-image.jpg'}
		%link{rel: 'stylesheet', href: '/css/default.css', type: 'text/css', media: 'all'}
		%link{rel: 'icon', href: '/img/gracoro20x20.png'}
		%link{rel: 'apple-touch-icon', href: '/img/apple-touch-icon.png'}
		%script{src: 'http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js'}
		%script{src: '/js/top.js'}
	%body.index
		#fb-root
		:javascript
			(function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) {return;}
				js = d.createElement(s); js.id = id;
				js.src = '//connect.facebook.net/ja_JP/all.js#xfbml=1&appId=135896593126567';
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		%h1
			%img{src: '/img/gracoro_union2016.jpg', alt: 'グラコロ同盟2016'}
		#header
			#description
				%p
					グラコロ同盟は、マクドナルド冬の定番メニュー「グラコロ」
					(旧称「グラタンコロッケバーガー」)が大好きな人たちによるコミュニティです。
					シーズン中はただひたすらグラコロを食べ、報告しあい、その数を競い合っています。
				%p
					2016年シーズンは終了しました。同盟員は次の冬を心待ちにしているところです。
					活動結果は
					%a{href: '/2016'}<こちら
					をご覧ください。
				%p
					(※なお当同盟は日本マクドナルドとは無関係の非公式コミュニティです)
		!= haml :footer

-# Copyright (C) 2017 by TADA Tadashi <t@tdtds.jp>
