!!!
%html
	%head
		%title グラコロ同盟#{SEASON}
		%meta{name: "viewport", content: "width=device-width,initial-scale=1"}
		%meta{property: 'og:image', content: 'https://gracoro.tdtds.jp/img/og-image.jpg'}
		%link{rel: 'stylesheet', href: '/css/default.css', type: 'text/css', media: 'all'}
		%link{rel: 'icon', href: '/img/gracoro20x20.png'}
		%link{rel: 'apple-touch-icon', href: '/img/apple-touch-icon.png'}
		%script{src: 'https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js'}
		%script{src: '/js/top.js'}
	%body.index
		#fb-root
		:javascript
			(function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) {return;}
				js = d.createElement(s); js.id = id;
				js.src = '//connect.facebook.net/ja_JP/all.js#xfbml=1&appId=135896593126567';
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		%h1
			%img{src: '/img/gracoro_union2018.jpg', alt: "グラコロ同盟#{SEASON}"}
		!= haml(SEASON ? :on_season : :off_season)
		!= haml :footer

-# Copyright (C) 2019 by Tada, Tadashi <t@tdtds.jp>
