!!!
%html
	%head
		%title グラコロ同盟2012
		%link{rel: 'stylesheet', href: '/css/default.css', type: 'text/css', media: 'all'}
		%link{rel: 'icon', href: '/img/gracoro20x20.png'}
		%script{src: 'http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js'}
		%script{src: '/js/top.js'}
		%script{src: 'http://widgets.twimg.com/j/2/widget.js'}
	%body
		#fb-root
		:javascript
			(function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) {return;}
				js = d.createElement(s); js.id = id;
				js.src = '//connect.facebook.net/ja_JP/all.js#xfbml=1&appId=135896593126567';
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		%h1
			%img{src: '/img/gracoro_union2012.jpg', alt: 'グラコロ同盟2012'}
		#header
			#description
				%p
					グラコロ同盟は、マクドナルド冬の定番メニュー「グラコロ」
					(旧称「グラタンコロッケバーガー」)が大好きな人たちによるコミュニティです。
					シーズン中はただひたすらグラコロを食べ、報告しあい、その数を競い合っています。
				%p
					グラコロを食べたら、
					%strong
						食べた数だけTwitterでハッシュタグ「
						%a{href: 'https://twitter.com/#!/search/realtime/%23gracoro_union'} #gracoro_union
						」をつけてつぶやく
					と、このサイトでカウントされます。お気軽にどうぞ!
					いっしょにグラコロを食べまくろう!
					(詳しくは
					%a{href: '/rule'} ルールとFAQ
					を読んで下さい)
				%p
					(※なお当同盟は日本マクドナルドとはいっさい関係ありません)
				%p.alert
					現在、2012シーズン開始に向けてテスト運用中です。
					ハッシュタグ付きのつぶやき自由にしていただいてかまいませんが、
					カウントは11月14日の朝にリセットしますのでご了承ください。
			#tweet-button
				%p
					%a{href: 'https://twitter.com/share?source=tweetbutton&text=%E3%82%B0%E3%83%A9%E3%82%B3%E3%83%AD%E9%A3%9F%E3%81%B9%E3%81%9F%E3%82%88!%20%23gracoro_union&url=http%3A%2F%2Fj.mp%2Fgrauni', target: '_blank'}
						%img{src: '/img/tweet.png', alt: 'Twitterで「グラコロ食べたよ!」とつぶやく'}
		#main
			#ranking
				%h2 今期のランキング
				%ol
					- ranking( 300 ) do |person, index|
						%li{class: index < 10 ? 'show' : 'hide'}
							%a{href: "http://twitter.com/#{person.name}"}
								%img{src: "#{person.icon ? person.icon : 'http://a0.twimg.com/sticky/default_profile_images/default_profile_3_normal.png'}", alt: person.name}
							%div
								- person.count.times do |i|
									%img{src: '/img/gracoro20x20.png', alt: ''}
								%span= person.count
			#widget
				:javascript
					new TWTR.Widget({
					  version: 2,
					  type: 'search',
					  search: '#gracoro_union',
					  interval: 30000,
					  title: 'リアルタイム活動状況',
					  subject: '',
					  width: 300,
					  height: 500,
					  theme: {
					    shell: {
					      background: '#8ec1da',
					      color: '#ffffff'
					    },
					    tweets: {
					      background: '#ffffff',
					      color: '#444444',
					      links: '#1985b5'
					    }
					  },
					  features: {
					    scrollbar: true,
					    loop: true,
					    live: true,
					    behavior: 'default'
					  }
					}).render().start();
		!= haml :footer

-# Copyright (C) 2012 by TADA Tadashi <t@tdtds.jp>
