#header
	#description
		%p
			グラコロ同盟は、マクドナルド冬の定番メニュー「グラコロ」
			(旧称「グラタンコロッケバーガー」)が大好きな人たちによるコミュニティです。
			シーズン中はただひたすらグラコロを食べ、報告しあい、その数を競い合っています。
		%p
			今シーズンは終了しました。同盟員は次の冬を心待ちにしているところです。
			これまでの活動は「過去の活動実績」をごらんください。
		%p
			(※なお当同盟は日本マクドナルドとは無関係の非公式コミュニティです)