!!!
%html
	%head
		%title ルールとFAQ - グラコロ同盟
		%link{rel: 'stylesheet', href: '/css/default.css', type: 'text/css', media: 'all'}
		%link{rel: 'icon', href: '/img/gracoro20x20.png'}
		%script{src: 'http://widgets.twimg.com/j/2/widget.js'}
	%body
		%h1
			%img{src: '/img/gracoro_union2013.jpg', alt: 'グラコロ同盟2013'}
		#main
			%h2 グラコロ同盟参加のルール
			%dl
				%dt 参加のしかた
				%dd
					%p
						Twitterでハッシュタグ「
						%a{href: 'http://twitter.com/#!/search/%23gracoro_union'} #gracoro_union
						」をつけてつぶやくだけで参加できます。
						写真などのURLが含まれていてもかまいません。
						ただし、ツイートの中に「@」+「空白文字以外」が含まれる場合(リプライなど)や、RTの場合にはカウントされません。
					%p
						ひとつのつぶやきの中に複数のハッシュタグがあると、その数だけカウントされます(2012年からの新ルール)。
						つぶやいたハッシュタグの数だけグラコロを食べたことになるので、正直に申告して下さい。
						グラコロ同盟は正直ベースで運用されています。
				%dt 開催期間
				%dd
					%p
						その年のグラコロ販売期間と同じです。ただし、先行試食イベントなどで
						販売開始より先に食べることができた場合もカウント可能とします。
						また、販売終了時期が地域によって異なることもありますが、その場合も
						考慮には入れません。ゆる〜くやりましょう。

			%h2 よくある質問と答え
			%dl
				%dt グラコロ同盟に参加すると何かいいことがあるの?
				%dd
					%p
						ありません。
						単純に、みんなでわいわい、大好きなグラコロを食べようというだけの活動です。
					%p
						実は2011年の先行試食イベント「グラコロ☆ファンミーティング2011」に
						グラコロ同盟が招待され、そのときは前回(2009年)のトップ4名が代表として
						選出されました。ただし、今後もこの方針が適用されるとは限りません。
				%dt グラコロ食べてないのに間違えてハッシュタグ付きでつぶやいちゃった!
				%dd
					%p 急いで1個、食べに行きましょう。
					%p または、次回食べた時にカウントしないようにして下さい。
				%dt グラコロそのものについてツイートするときにはハッシュタグになにを使えばいいの?
				%dd
					%p
						2011年から公式に「
						%a{href: 'http://twitter.com/#!/search/%23McD_gracoro'} #McD_gracoro
						」というハッシュタグが設定されました。
						同盟活動としてカウントするのでなく、単にグラコロについてつぶやく場合には
						これを使いましょう。ま、誰も使ってないですけど。
				%dt 同盟にはイートインしか認めない鉄の掟があると聞きました
				%dd
					%p
						グラコロのバンズはふわふわと柔らかい特製なので、湿気を吸うととたんに
						味が落ちます。ですから、イートインでアツアツのグラコロにかぶりつくことを
						強くお勧めします。
					%p
						が、諸般の事情でどうしてもテイクアウトせざるをえない場合もあるでしょう。
						それはしかたありません。できるだけ早く食べましょう。
				%dt 「デミチーズグラコロ」って長くない?
				%dd
					%p
						同盟員なら「デミコロ」と略しましょう。通じます。
					%p
						なお、2011年までレギュラーだったチーズグラコロは「チーコロ」と略されていました。
						2011年のみの「トマトクリームグラコロ」は「トマコロ」。
						なぜかただの「グラコロ」には統一された略称はないようで、
						「ノーマル」「普通の」「無印」などと呼ばれています。
				%dt グラコロ専用のセットメニューがあると聞きました
				%dd
					%p
						公式にはそんなものは存在しません。ですので、マクドナルドで変な注文はしないように。
					%p
						ただ、同盟員の中では「グラコロ通セット」と呼ばれる食べ方があります。それは、
						「グラコロ」と「デミコロ」をそれぞれ単品で頼み、任意のドリンクを追加したものです。
						1個じゃ足らないけどポテトやサラダは欲しくないというグラコロ好きが極まった結果、
						自然に発生したセットですね。栄養のバランス的には非常に悪いですが。
					%p
						2011年からは「トマコロ」が追加になったため、
						従来の2個セットは「グラコロ通セット(M)」となり、
						さらに3個セットのために「グラコロ通セット(L)」が発案されました。
						実際に(L)を注文する人もあとをたちませんでしたが、2012年からふたたび2種メニューに
						なったため、Lセットはなくなるもようです。
				%dt 「gurakoro」なの? 「gracoro」なの?
				%dd
					%p
						マクドナルドは2008年までグラコロの英語表記として「gurakoro」を使用して
						いましたが(専用ドメインもありました)、2009年からは「gracoro」と使うことに
						したようです。グラコロ同盟も2011年から公式に準拠することにしました。
		!= haml :footer

-# Copyright (C) 2012 by TADA Tadashi <t@tdtds.jp>
