!!!
%html
	%head
		%title ルールとFAQ - グラコロ同盟
		%meta{property: 'og:image', content: 'https://gracoro.tdtds.jp/img/og-image.jpg'}
		%link{rel: 'stylesheet', href: '/css/default.css', type: 'text/css', media: 'all'}
		%link{rel: 'icon', href: '/img/gracoro20x20.png'}
	%body
		%h1
			%img{src: '/img/gracoro_union2018.jpg', alt: 'グラコロ同盟2018'}
		#main
			%h2 グラコロ同盟参加のルール
			%dl
				%dt 参加のしかた
				%dd
					%p
						Twitterでハッシュタグ「
						%a{href: 'https://twitter.com/hashtag/%E3%82%B0%E3%83%A9%E3%82%B3%E3%83%AD%E5%90%8C%E7%9B%9F'} #グラコロ同盟
						」をつけてつぶやくだけで参加できます。
						写真などのURLが含まれていてもかまいません。
						ただし、ツイートの中に「@」+「空白文字以外」が含まれる場合(リプライなど)や、RTの場合にはカウントされません。
					%p
						ひとつのつぶやきの中に複数のハッシュタグがあると、その数だけカウントされます(2012年からの新ルール)。
						つぶやいたハッシュタグの数だけグラコロを食べたことになるので、正直に申告して下さい。
						グラコロ同盟は正直ベースで運用されています。
				%dt 開催期間
				%dd
					%p
						その年のグラコロ販売期間と同じです。ただし、先行試食イベントなどで
						販売開始より先に食べることができた場合もカウント可能とします。
						また、販売終了時期が地域によって異なることもありますが、その場合も
						考慮には入れません。ゆる〜くやりましょう。

			%h2 よくある質問と答え
			%dl
				%dt グラコロ同盟に参加すると何かいいことがあるの?
				%dd
					%p
						ありません。
						単純に、みんなでわいわい、大好きなグラコロを食べようというだけの活動です。
					%p
						実は2011年の先行試食イベント「グラコロ☆ファンミーティング2011」に
						グラコロ同盟が招待され、そのときは前回(2009年)のトップ4名が
						代表として選出されました。
						また、2016年の超グラコロにおいては、プレス発表より前に極秘の試食会
						が開催され、前年の参加者だけが招待されました。
						さらに2017年の熟グラコロ ビーフシチューの試食会にも一部同盟員が
						招待され、座談会をしました。
						ただし、今後もこのような関係が続くとは限りません。
				%dt グラコロ食べてないのに間違えてハッシュタグ付きでつぶやいちゃった!
				%dd
					%p 急いで1個、食べに行きましょう!!
					%p または、次回食べた時にカウントしないようにして下さい。
				%dt グラコロそのものについてツイートするときにはハッシュタグになにを使えばいいの?
				%dd
					%p
						2011年から公式に「
						%a{href: 'https://twitter.com/hashtag/McD_gracoro'}<#McD_gracoro
						」というハッシュタグが設定されました。が、普及しませんでした。
						その後、マクドナルドのグラコロプロモーションが活発になると、
						%a{href: 'https://twitter.com/hashtag/%E3%82%B0%E3%83%A9%E3%82%B3%E3%83%AD'}<#グラコロ
						などのハッシュタグが使われるようになってきています。
					%p
						同盟活動としてカウントするのでなく、単にグラコロについてつぶやく
						場合にはこれらを使いましょう。その年のトレンドは
						%a{href: 'https://twitter.com/McDonaldsJapan'}<マクドナルドの公式アカウント
						で確認すると良いでしょう。
				%dt 同盟にはイートインしか認めない鉄の掟があると聞きました
				%dd
					%p
						グラコロのバンズはふわふわと柔らかい特製なので、湿気を吸うととたんに
						味が落ちます。ですから、
						イートインでアツアツのグラコロにかぶりつくことを強くお勧めします。
					%p
						が、諸般の事情でどうしてもテイクアウトせざるをえない場合も
						あるでしょう。それはしかたありません。できるだけ早く食べましょう。
				%dt 「デミチーズグラコロ」「熟グラコロ ビーフシチュー」って長くない?
				%dd
					%p
						同盟員どうしなら「デミコロ」「熟コロ」と略しましょう。通じます。
					%p
						なお、2011年までレギュラーだったチーズグラコロは「チーコロ」と
						略されていました。
						2011年のみの「トマトクリームグラコロ」は「トマコロ」。
						なぜかただの「グラコロ」には統一された略称はないようで、
						「ノーマル」「普通の」「無印」あるいは単に「グラコロ」などと
						呼ばれています。
						また、2016年のリニューアルによって「超グラコロ」
						「超デミチーズグラコロ」という名称になりましたが、同盟員への
						%a{href: 'https://twitter.com/gracoro_union/status/809011819029237765'}<アンケートの結果
						、略称はこれまでどおり(超はつけない)ということになりました。
				%dt グラコロ専用のセットメニューがあると聞きました
				%dd
					%p
						公式にはそんなものは存在しません。ですので、マクドナルドで変な注文はしないように。
					%p
						ただ、同盟員の中では「グラコロ通セット」と呼ばれる食べ方があります。
						それは、「グラコロ」と「◯◯コロ」(その年によって変わる)をそれぞれ
						単品で頼み、任意のドリンクを追加したものです。
						1個じゃ足らないけどポテトやサラダは欲しくないというグラコロ好きが
						極まった結果、自然に発生したセットですね。
						栄養のバランス的には非常に悪いですが。
					%p
						2011年からは「トマコロ」が追加になったため、
						従来の2個セットは「グラコロ通セット(M)」となり、
						さらに3個セットのために「グラコロ通セット(L)」が発案されました。
						実際に(L)を注文する人もあとをたちませんでしたが、
						2012年からふたたび2種メニューになったため、
						Lセットはなくなるもようです。
				%dt 「gurakoro」なの? 「gracoro」なの?
				%dd
					%p
						マクドナルドは2008年までグラコロの英語表記として「gurakoro」を使用して
						いましたが(専用ドメインもありました)、2009年からは「gracoro」と使うことに
						したようです。グラコロ同盟も2011年から公式に準拠することにしました。
		!= haml :footer

-# Copyright (C) 2018 by Tada, Tadashi <t@tdtds.jp>
